@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&family=Shrikhand&display=swap");
@keyframes checkRotate {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes translateCard {
  to {
    visibility: visible;
    transform: translateY(0%);
  }
}
@keyframes loader {
  from {
    visibility: visible;
  }
  to {
    visibility: hidden;
  }
}
@keyframes loaderRotate {
  from {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(360deg);
  }
}
body {
  font-family: roboto;
  margin: 0;
}

h1 {
  font-family: Shrikhand;
}

h2 {
  margin: 0;
  padding: 20px 0;
  padding-left: 10px;
  font-weight: bold;
  font-size: 20px;
}

h3 {
  margin: 0;
  padding-left: 10px;
  padding-top: 10px;
  font-size: 17px;
  font-weight: bold;
}

a {
  text-decoration: none;
  color: inherit;
}

.loader {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  backdrop-filter: blur(5px);
  animation: loader 3s forwards;
}
.loader__box {
  position: relative;
}
.loader__icones {
  bottom: 30px;
  left: 50px;
  font-size: 5em;
  animation: loaderRotate 1.5s infinite linear;
  color: #99E2D0;
}

.search {
  background-color: #f2f2f2;
  padding-bottom: 60px;
}
.search__content {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
  background-color: #e6e6e6;
  box-shadow: inset 0 3px 3px 0 lightgrey;
  padding-right: 35px;
}
.search__content__icon {
  padding-right: 10px;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .search__content {
    padding: 0;
  }
}
@media screen and (min-width: 992px) {
  .search__content {
    width: 30%;
    margin-left: 35%;
    padding: 0;
  }
}
.search .reserve {
  text-align: center;
}
.search .reserve__title {
  font-family: roboto;
}
.search .reserve p {
  font-weight: 100;
  font-size: 17px;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .search .reserve {
    justify-content: space-around;
  }
}

.function {
  padding: 10px;
}
@media screen and (min-width: 992px) {
  .function {
    display: flex;
    align-items: center;
  }
}
@media screen and (min-width: 992px) {
  .function, .function__content {
    display: flex;
    margin-left: 20px;
  }
}
.function__step {
  display: flex;
  align-items: center;
  margin: 15px;
  gap: 20px;
  height: 65px;
  margin-bottom: 20px;
  border-radius: 15px;
  box-shadow: 0px 5px 10px #e6e6e6;
  padding-right: 20px;
  cursor: pointer;
}
.function__step:hover {
  background-color: #f2eafb;
}
.function__step:hover .function__icon {
  color: #9356DC;
}
.function__number {
  width: 22px;
  height: 22px;
  background-color: #9356DC;
  display: flex;
  justify-content: center;
  padding-top: 2px;
  border-radius: 10px;
  color: white;
  position: relative;
  right: 10px;
}

.card {
  background-color: #f2f2f2;
  position: relative;
}
.card__content {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-around;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .card__content {
    flex-direction: row;
  }
}
@media screen and (min-width: 992px) {
  .card__content {
    flex-direction: row;
  }
}
.card__block {
  margin: 20px;
  background-color: #fff;
  box-shadow: 0px 5px 10px #e6e6e6;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
  width: 100%;
}
@media screen and (min-width: 576px) and (max-width: 992px) {
  .card__block {
    max-width: 40%;
  }
}
@media screen and (min-width: 992px) {
  .card__block {
    max-width: 20%;
  }
}
.card__restaurant {
  width: 60%;
  height: 160px;
  overflow: hidden;
  position: relative;
  margin: auto;
  gap: 20px;
}
.card__image {
  width: 100%;
  height: 160px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  object-fit: cover;
}
.card__title {
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  margin-bottom: 0;
}
.card__text {
  font-size: 20px;
  margin: 0;
  padding-top: 2px;
  padding-left: 19px;
  padding-bottom: 20px;
  font-weight: 100;
}
.card__restaurant.new {
  position: relative;
}
.card__restaurant.new::before {
  content: "Nouveau";
  position: absolute;
  width: 90px;
  height: 30px;
  text-align: center;
  background-color: #99E2D0;
  color: #278870;
  bottom: 190px;
  right: 25px;
  padding-top: 7px;
}
.card__icon {
  position: absolute;
  bottom: 30px;
  right: 20px;
  padding-right: 10px;
  font-size: 30px;
  cursor: pointer;
}

header {
  font-family: shrikhand;
  text-align: center;
}

footer {
  width: 100%;
  height: auto;
  background-color: #333333;
  padding-bottom: 20px;
}
footer .footer__title {
  color: #fff;
  font-family: shrikhand;
  padding-left: 5%;
}
footer .footer__icon {
  color: #fff;
}
footer li {
  list-style-type: none;
  padding-left: 5%;
  padding-bottom: 4px;
  margin: 0;
}
footer ul {
  padding: 0;
  margin: 16px 0 0 0;
}
footer a {
  text-decoration: none;
  color: #fff;
}
footer__icon {
  color: #fff;
}

.btn {
  width: 220px;
  height: 50px;
  text-align: center;
  border-radius: 30px;
  color: white;
  border: hidden;
  font-size: 1em;
  box-shadow: 2px 1px 16px -3px #333333;
  background: linear-gradient(#FF79DA, #9356DC);
}
.btn:hover {
  transform: scale(1.09);
  opacity: 0.9;
  cursor: pointer;
}

.card__icon--full {
  color: transparent;
  background: linear-gradient(#9356DC, #FF79DA);
  background-clip: text;
  -webkit-background-clip: text;
  opacity: 0;
  transition: 0.5s ease-in-out;
}
.card__icon--full:hover {
  opacity: 1;
}

body {
  font-size: roboto;
}

.restaurant__image {
  width: 100%;
  object-fit: cover;
  object-position: 100% 70%;
  max-height: 50vh;
}

header .header__title {
  padding-left: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
header .header__title .fleche {
  width: 20px;
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  left: 30px;
  top: 30px;
}

.menu {
  background-color: #f2f2f2;
  position: relative;
  bottom: 45px;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 0 2% 0 2%;
  overflow: hidden;
}
.menu__head {
  display: flex;
  align-items: center;
  padding: 10px;
}
@media screen and (min-width: 992px) {
  .menu__composition {
    display: flex;
    justify-content: space-around;
  }
}
.menu .card__icon {
  bottom: unset;
}
.menu span {
  text-decoration: underline #99E2D0 3px;
  text-underline-offset: 7px;
}
.menu .light {
  margin-bottom: 30px;
}

.menu__card {
  cursor: pointer;
  animation: translateCard 1s forwards;
  visibility: hidden;
  transform: translateY(100%);
}
.menu__card--1 {
  animation-delay: 0.3s;
}
.menu__card--2 {
  animation-delay: 0.6s;
}
.menu__card--3 {
  animation-delay: 0.9s;
}
.menu__card--4 {
  animation-delay: 1.2s;
}
.menu__card--5 {
  animation-delay: 1.5s;
}
.menu__card--6 {
  animation-delay: 1.8s;
}
.menu__card--7 {
  animation-delay: 2.1s;
}
.menu__card--8 {
  animation-delay: 2.4s;
}
.menu__card--9 {
  animation-delay: 2.7s;
}
.menu__card--10 {
  animation-delay: 3s;
}
.menu__card .menu__description {
  display: flex;
  background-color: #fff;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 20px;
  border-radius: 15px;
  margin-bottom: 15px;
  overflow: hidden;
}
.menu__card .menu__description:hover .menu__check {
  margin-right: 0;
}
.menu__card .menu__description:hover .menu__check i {
  transform: rotate(90deg);
  animation: checkRotate 0.5s 0.5s forwards;
}
.menu__card .menu__description p {
  padding-left: 10px;
  padding-top: 5px;
  margin: 3px;
}
@media screen and (min-width: 992px) {
  .menu__card .menu__description {
    min-width: 25vw;
  }
}
.menu__card .menu__title {
  font-weight: bold;
}
.menu__card .menu__receipe {
  font-weight: 100;
  padding-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__card .menu_txt {
  min-width: 0;
}
.menu__card .menu__price {
  font-weight: 600;
  margin-left: auto;
  padding: 20px 20px 5px 0px;
  display: flex;
  align-items: flex-end;
}
.menu__card .menu__check {
  width: 50px;
  margin-right: -50px;
  overflow: hidden;
  display: flex;
  align-items: center;
  background-color: #99E2D0;
  color: #fff;
  border-radius: 0 15px 15px 0;
  transition: margin-right 1s ease-in-out;
}
.menu__card .menu__check i {
  display: flex;
  align-items: center;
  margin-left: 12px;
}

.commande {
  margin: 30px;
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
