.btn{
    font-size: roboto;
    color: $white;
    background: linear-gradient(#FF79DA,#9356DC);
    display: flex;
    justify-content: center;
    border: none;
    padding: 10px;
    border-radius: 15px;
 

}