

.loader{
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(5px);
    animation: loader 3s forwards;
    &__box{
        position: relative;
    }
    &__icones{
        bottom: 30px;
        left: 50px;
        font-size: 5em;
        animation: loaderRotate 1.5s infinite linear;
        color: $color-tertiary;
      
    }

}
.search{
 
    background-color: $light-grey;
    padding-bottom: 60px;

        &__content{
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: center;
        background-color:$grey;
        box-shadow: inset 0 3px 3px 0 lightgrey;
        padding-right: 35px;
        
    
        &__icon{
            padding-right: 10px;
        }

    @include tablette{
        padding : 0;
    }
    @include desktop {
        width: 100%;
        padding: 0;
    }
    }
   

.reserve{
    
    text-align: center;
    &__title{
        font-family: roboto;
    }
    & p{
        font-weight: 100;
        font-size: 17px;
    }
    @include tablette{
        justify-content: space-around;
    }
}
}

.function{
    padding: 10px;

    @include desktop {
        display: flex;
        align-items: center;
    }
    &, &__content{
        @include desktop {
            display: flex;
            margin-left: 20px;
        }
    }
    &__step{
        display: flex;
        align-items: center;
        margin: $margin-base;
        gap: 20px;
        height: 65px;
        margin-bottom: 20px;
        border-radius:15px;
        box-shadow: 0px 5px 10px $grey ;
        padding-right: 20px;
        cursor:pointer;
      
    }

    &__step:hover{
      background-color:$light-purple;
       .function__icon{
        color:$color-primary;
      }
    } 

   

    &__number{
        width: 22px;
        height: 22px;
        background-color: $color-primary;
        display: flex;
        justify-content: center;
        padding-top: 2px;
        border-radius: 10px;
        color: white;
        position: relative;
        right: 10px;
    }
 

}
.card{
    background-color: $light-grey;
    position: relative;
    
  
    &__content{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        @include tablette{
            flex-direction: row;
        }
        @include desktop{
            flex-direction: row;
        }
    }
    &__block{
        margin: 20px;
        background-color: $white;
        box-shadow: 0px 5px 10px $grey ;
        border-radius: 15px;
        overflow: hidden;
        position: relative;   
        width: 100%; 
        @include tablette{
            max-width: 40%;
        }
        @include desktop{
            max-width: 20%;
        }
    }


    &__restaurant{
        width: 60%;
        height: 160px;
        overflow: hidden;
        position: relative;
        margin: auto;
        gap: 20px;
        
       
    }
  
    &__image{
        width: 100%;
        height: 160px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        object-fit: cover;   
       
    }

    &__title{
        font-size: 20px;
        font-weight:bold;
        margin: 20px;
        margin-bottom: $margin-none;
    }
    &__text {
        font-size: 20px;
        margin:$margin-none;   
        padding-top:2px;
        padding-left: 19px;
        padding-bottom:20px;
        font-weight: 100;
        }
   
    &__restaurant.new{
        position: relative;
        &::before{
            content: "Nouveau";
            position: absolute;
            width: 90px;
            height: 30px;
            text-align: center;
            background-color: $color-tertiary;
            color:darken($color-tertiary, 40%);
            bottom: 190px;
            right: 25px;
            padding-top: 7px;
            
        }
    }
        
        &__icon  {
        position: absolute;
        bottom: 30px;
        right: 20px;
        padding-right: 10px;
        font-size: 30px;
        cursor: pointer;     

}  
}  
