@keyframes checkRotate {
    0% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes translateCard {
    to{
        visibility: visible;
        transform: translateY(0%);
    }
}
@keyframes loader {
    from {
        visibility: visible;
    }

    to {
        visibility: hidden;
    }
}

@keyframes loaderRotate {
    from {
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(180deg);
    }
    to {
        transform: rotate(360deg);
    }
}
