@keyframes checkRotate {
    0% {
        transform: rotate(-270deg);
    }

    100% {
        transform: rotate(0);
    }
}

@keyframes translateCard {
    from{
        visibility: hidden;
        transform: translateY(100%);
    }
    to{
        visibility: visible;
        transform: translateY(0%);
    }
}
