@mixin button ($color : white){
    width: 220px;
    height: 50px;
    text-align: center;
    border-radius: 30px;
    color: $color;
    border: hidden;
    font-size: 1em;
    
    &:hover{
        transform: scale(1.09);
        opacity:0.9;
        cursor: pointer;
    }
}

@mixin degradebutton {
    background: linear-gradient($color-secondary, $color-primary);
}


@mixin heart--full {
    color: transparent;
    background: linear-gradient($color-primary, $color-secondary);
    background-clip: text ;
    -webkit-background-clip: text;
    opacity: 0;
    transition: 0.5s ease-in-out;
    &:active  {
        opacity: 1;

    
    }     
}

@mixin toto {
    @media screen and (min-width : map-get($breakpoints, "tablette")) and (max-width :map-get($breakpoints, "desktop")) {
        @content;    
    }
}


@mixin desktop {
    @media screen and (min-width : map-get($breakpoints, "desktop")) {
        @content;
    }
}